@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  font-family: cursive;
}

nav {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

nav ul li.active {
  color: blue;
}
